form {
  display: flex;
  width: 500px;
  background-color: #fff;
  flex-direction: column;
  color: rgb(0, 0, 0);
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: fixed;

  .mat-form-field-wrapper {
    margin: 16px;
  }

  button {
    margin: 16px;
  }
}
