.contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .contact-card {
    margin: 8px;
    width: calc(100%/3.5);
    display: inline-block;
  }

  mat-card-title {
    font-size: 21px;
  }

  mat-card-subtitle {
    display: block;
    font-size: 16px;
    font-weight: 400;
  }
}

.menu-contact {
  display: flex;
  justify-content: space-evenly;
  padding: 14px;

  button {
    margin: 0px 6px;
  }

  input {
    padding: 10px;
    border-radius: 6px;
    border: none;
  }

  input:focus {
    outline: none;
  }
}